* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(249, 240, 228);
}

.row {
    width: 1100px;
    height: 300px;
    display: flex;
    gap: 50px;
    margin-top: 30px;
    margin-left: auto;
}

.row4 {
    width: 1100px;
    height: 300px;
    display: flex;
    gap: 50px;
    margin-top: 30px;
    margin-left: 400px;
}

.marzertext {
    text-align: center;
    color: black;

}

.a {
    text-decoration: none;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 250px;
    padding: 15px 0;
}

.marzkentron {
    text-align: center;
    color: grey;
}

.card:hover {
    box-shadow: 0px 5px 8px 2px rgb(0 0 0 / 20%);
    opacity: 0.7;
}

.about {
    margin-left: 900px;
    margin-top: 30px;
    font-size: 20px;
}

#abarm {
    text-decoration: none;
    color: rgb(96, 46, 0);
}

.about:hover {
    opacity: 0.7;
}

header {
    display: flex;
}

.logo img {
    width: 150px;
    border-radius: 8px;
    margin: 20px;
}

.wrapper {
    display: flex;
}

.img {
    width: 260px;
    height: 180px;
    border-radius: 10px;
    margin-left: 2.5px;
}

.cardtext {
    text-align: center;
    color: rgb(60, 60, 60);
    font-weight: 100;
    margin-top: 10px;
}

.aboutcard {
    border-radius: 10px;
    width: 250px;
    padding: 15px 0;
    margin-left: 25px;
}

.aboutcard:hover {
    box-shadow: 0px 5px 8px 2px rgb(0 0 0 / 20%);
    opacity: 0.7;
}

.info-text {
    margin-left: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.coloumn{

}
.coloumn2{
margin-left:10px;
}
